/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #7b8080;
  color: white;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.eco {
  color: rgb(56, 225, 56);
}

.money {
  color: rgb(5, 5, 129);
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px;
  transition: margin-left 0.3s ease;
}

.container.shifted {
  margin-left: 250px;
}

button {
  background-color: #5a8dee;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 10px;
}

button:hover {
  background-color: #4a7bc2;
  transform: translateY(-2px);
}
